.form {
  width: 40%;
  height: 50%;
  position: absolute;
  left: 30%;
  top: 20%;
  background-color: rgba(255,255,255,0.6);
}

.background {
  width: 100vw;
  height: 100vh;
}

.form-fields {
  position: relative;
  top: 50px;
}
.form-fields input {
  margin-left: 15%;
  margin-top: 30px;
  width: 70%;
  height: 13%;
}
.submit-button{
  position: relative;
  top: 100px;
    left: 15%;
}
.submit-button button{
  width: 70%;
  height: 13%;
  top: 100px;
  font-size: 22px;
  background: transparent;
  font-family: courier;
  text-transform: uppercase;
}
